@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activation-message, .activation-error {
  text-align: center;
}

.activation-error {
  color: red;
}
