<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="javascript:void(0)"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/jobs">
            <i class="fas fa-briefcase"></i>&nbsp;Jobs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="my-applications">
            <i class="fas fa-file-alt"></i>&nbsp;My Application
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="notification">
            <i class="fas fa-bell"></i>&nbsp;My Notification
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="my-account">
            <i class="fas fa-user"></i>&nbsp;My Account
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center">
        <span>logout</span>
        <button class="btn btn-link" type="submit" (click)="logout()"><i class="fas fa-door-open"></i></button>
      </form>
    </div>
  </div>
</nav>


