.navbar {
  justify-content: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
  max-width: 1200px; /* Vous pouvez ajuster cette valeur selon votre design */
  margin: 0 auto;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand {
  margin-right: 20px; /* Espacement entre le logo et les liens de navigation */
}

.navbar-toggler {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  .navbar-brand,
  .navbar-toggler {
    margin-left: 0;
    margin-right: 0;
  }
}
